@model IEnumerable<L02P02_2022HM651_2022DP650.Models.Autores>
@{
    ViewData["Title"] = "Comentarios por Libros";
}

<div class="bg-dark text-white p-4 text-center">
    <img src="~/img/logo.png" alt="Logo" class="mb-2" style="width: 50px;" />
    <h2>Comentarios por Libros</h2>
    <p class="small">
        Seleccione el autor -> Seleccione el Libro -> Se muestran los comentarios existentes -> Adicione un nuevo comentario
    </p>
</div>

<div class="container mt-4">
    <!-- Barra de progreso -->
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios Existentes</li>
        <li>Nuevo Comentario</li>
    </ul>

    <div class="card">
        <div class="card-header bg-light">
            <h5 class="mb-0 text-primary">Autor</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("LibrosPorAutor", "Autores", FormMethod.Get, new { id = "formAutores" }))
            {
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var autor in Model)
                            {
                                <tr>
                                    <td>@autor.autor</td>
                                    <td class="text-end">
                                        @Html.ActionLink("Seleccionar", "Index", "Libros", new { idAutor = autor.Id }, new { @class = "btn btn-success" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>

<footer class="bg-dark text-white text-center p-3 mt-5">
    <p class="mb-0">YYYY-DD-NN - Alfredo Antonio Hernandez Montoya</p>
    <p class="mb-0">YYYY-DD-NN - Harry Adonay Damian Perez</p>
</footer>

<style>
    .container {
        width: 100%;
        margin: 100px auto;
    }

    .progressbar {
        margin: 0;
        padding: 0;
        counter-reset: step;
        clear: both;
    }

        .progressbar li {
            list-style-type: none;
            width: 25%;
            float: left;
            font-size: 12px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            color: #7d7d7d;
        }

            .progressbar li:before {
                width: 30px;
                height: 30px;
                content: counter(step);
                counter-increment: step;
                line-height: 30px;
                border: 2px solid #7d7d7d;
                display: block;
                text-align: center;
                margin: 0 auto 10px auto;
                border-radius: 50%;
                background-color: white;
            }

            .progressbar li:after {
                width: 100%;
                height: 2px;
                content: "";
                position: absolute;
                background-color: #7d7d7d;
                top: 15px;
                left: -50%;
                z-index: -1;
            }

            .progressbar li:first-child:after {
                content: none;
            }

            .progressbar li.active {
                color: green;
                font-weight: bold;
                font-style: italic;
                text-decoration: underline;
            }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
</style>
